<h2 class="page-header">Books</h2>

<form method="GET" action="/books">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>" >
        </div>
    </div>

    <div class="form-row">
        <div class="form-item">
            <label>PublishAfter</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
        </div>
    
        <div class="form-item">
            <label>PublishBefore</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>

    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>

</form>

<%- include('../partials/bookGrid' , {books : books , large : true}) %> 