<h2 class="page-header">Add New Book</h2>
<form action="/books" method="POST" enctype="multipart/form-data">

    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancle</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>