<h2 class="page-header"><%= book.title %></h2>

<div class="book-details">

    <div>
        <img src="<%= book.coverImagePath %>" class="book-cover">
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
            <%- include('../partials/_delete_form' , {url : `/books/${book.id}`}) %> 
            <a class="btn btn-primary book-details-author-button" href="/authors/<%= book.author.id %>">View Author</a>
        </div>
    </div>

    <div class="book-details-grid">
        <div class="book-details-label">Authors:</div>
        <div><%= book.author.name %> </div>
        <div class="book-details-label">Publish Date:</div>
        <div><%= book.publishDate.toDateString() %> </div>
        <div class="book-details-label">Page Count:</div>
        <div><%= book.pageCount %> </div>
        <div class="book-details-label">Description:</div>
        <div><%= book.description %> </div>
    </div>








</div>