<header>
    <nav class="header-nav">
        <a class="header-title" href="/">JazBrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authors</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Books</a></li>
        </ul>
    </nav>
</header>