@import 'shared/variabels.css' ;
@import 'shared/header.css';
@import 'shared/buttons.css' ;
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root{
    font-size: 20px;
    color : var(--color-text-light);
}

* , *::before , *::after {
    box-sizing: border-box;
}


body{
    background : linear-gradient(to right , var(--color-background-dark) , var(--color-background-light));
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}
.inner-container{
    margin: 0 2rem;
}

.page-header{
    font-size: 2rem;
    font-weight: 500;
}

.btn-row{
    display: flex;
    align-items: flex-start;
}
/*
.btn-row > *{
    margin-left: 1rem;
}
.btn-row > :first-child{
    margin-left: 0;
}
*/
.btn-row > *:not(:first-child){
    margin-left: 1rem;
}

.error-message{
    color : hsl(var(--color-danger-hue) , 100% , 50%);
}