:root{
    --color-base-hue : 200 ;

    --color-background-light : hsl(var(--color-base-hue) , 100% , 16%);
    --color-background-dark : hsl(var(--color-base-hue) , 100% , 8%);
    --color-text-light: hsl(var(--color-base-hue) , 100% , 87%);

    --color-danger-hue-offset : 180 ;
    --color-danger-hue : calc(var(--color-base-hue) - var(--color-danger-hue-offset));
}