<h2 class="page-header">New Author</h2>
<form action="/authors" method="POST">

    <%- include('_form_fields') %>

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors">Cancle</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>