<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <%- include('../partials/_delete_form' , { url : `/authors/${author.id}`}) %>
</div>

<% if(booksByAuthor.length > 0){ %>
    <h2 class="page-header">Books By Author</h2>

    <%- include('../partials/bookGrid' , {books : booksByAuthor}) %>  

<% } %> 